.contactInfo {
  background-color: #faf0e6;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Georgia', serif;
  max-width: 600px;
  opacity: 0;
  animation: fadeInContainer 1s forwards;
  animation-delay: 11s; // Adjust the delay for sequential animation

  h2 {
    color: #b8860b; // Gold color
    font-size: 22px;
    text-align: center;
    font-family: 'Tangerine', cursive;
    animation: fadeIn 2s forwards;
    animation-delay: 11.5s;
  }

  p, ul {
    color: #333;
    font-size: 18px;
    margin: 10px 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
  }

  p:nth-child(2) { animation-delay: 12s; }
  p:nth-child(3) { animation-delay: 12.5s; }
  ul li:nth-child(1) { animation-delay: 13s; }
  ul li:nth-child(2) { animation-delay: 13.5s; }
  ul li:nth-child(3) { animation-delay: 14s; }

  ul {
    padding-left: 20px;
  }

  @media (max-width: 600px) {
    padding: 10px;
    margin: 10px;

    h2 {
      font-size: 18px;
    }

    p, li {
      font-size: 16px;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeInContainer {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
